@model IEnumerable<Sgiq.Dados.Models.Medida>

@{
    ViewData["Title"] = "Medida";
}



<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Novo</span></a>
            </div>
        </div>
    </div>


    <div class="card mt-3">
        <div class="card-header">
            Requisitos
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Tipo de dado
                        </th>
                        <th>
                            Valor Mínimo
                        </th>
                        <th>
                            Valor Máximo
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
            {

                        @foreach (var item in Model)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoDado.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VlrMinimo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VlrMaximo)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.MedidaId">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.MedidaId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Nenhum Registro Encontrado</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>