@model IEnumerable<Sgiq.Dados.Models.Medicao>

@{
    ViewData["Title"] = "Medição";
}



<div class="col-lg-12">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> <span>Novo</span></a>
            </div>
        </div>
    </div>


    <div class="card mt-3">
        <div class="card-header">
            Projetos
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Projeto
                        </th>
                        <th>
                            Métrica
                        </th>
                        <th>
                            Nome da Medida
                        </th>
                        <th>
                            Valor
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
            {

                        @foreach (var item in Model)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Projeto.Nome)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.Medida.me)*@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Medida.Nome)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Valor)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.ProjetoId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.ProjetoId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.ProjetoId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">Nenhum Registro Encontrado</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>