@model Sgiq.Web.Models.MetricaEditView;

@{
    ViewData["Title"] = "Alterar Métrica";
}
<div class="col-lg-12">
    <form asp-action="Edit" role="form" id="frmMetrica">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-header">Dados da Métrica</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label asp-for="Nome">Nome</label>
                                <input asp-for="Nome" class="form-control" placeholder="informe nome">
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="Descricao">Descrição</label>
                                <textarea asp-for="Descricao" class="form-control" placeholder="informe Descrição"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="FrequenciaAfericaoId">Frequência de Aferição</label>
                                <select asp-for="FrequenciaAfericaoId" class="form-control" data-placeholder="Selecione a Frequência de Aferição">
                                    @foreach (Sgiq.Dados.Models.FrequenciaAfericao frequencia in ViewBag.FrequenciasAfericao)
                                    {
                                        <option value="@frequencia.FrequenciaAfericaoId">@frequencia.Nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-12">
                                <label asp-for="Formula">Fórmula</label>
                                <textarea asp-for="Formula" class="form-control" placeholder="informe Fórmula"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 mt-3">
                <div class="card">
                    <div class="card-header">Medidas Utilizadas</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-lg-10">
                                <label>Medida</label>
                                <select name="MedidaId" class="form-control" data-placeholder="Selecione a Medida">
                                    @foreach (Sgiq.Dados.Models.Medida medida in ViewBag.Medidas)
                                    {
                                        <option value="@medida.MedidaId">@medida.Nome</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-2 mt-4">
                                <div class="pull-right">
                                    <button class="btn btn-lg btn-success" type="button" id="btnAdicionarMedida"><i class="fa fa-plus-circle"></i></button>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-responsive-lg table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Medida</th>
                                            <th>Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ViewBag.MedidasMetricas.Count > 0)
                                        {
                                            @foreach (Sgiq.Web.Models.MedidaMetricaView medidaMetrica in ViewBag.MedidasMetricas)
                                            {
                                                <tr>
                                                    <td><input type="checkbox" style="display: none" name="Medidas" value="@medidaMetrica.MedidaId" checked /><span>@medidaMetrica.Nome</span></td>
                                                    <td><button class="btn btn-xs btn-danger" type="button" value="@medidaMetrica.MedidaId"><i class="fa fa-trash"></i></button></td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="2">Nenhum Registro Encontrado</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="pull-left mt-3">
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i><span> Salvar</span></button>
            <button type="button" class="btn btn-danger" id="btnCancelar"><i class="fa fa-ban"></i><span> Cancelar</span></button>
        </div>
    </form>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/metricas.js"></script>
}